body {
    background-color: black;
    background-image: url("./img/Nebula\ Blue.png");
}

h1, h2, h3, p {
    color: white;
    text-align: center;
    padding-top: 1em;
    font-family: 'Courier New', Courier, monospace;
}

p {
    padding: 0 1em;
    font-size: 1.3em;
}

h1, a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    padding-bottom: 0;
    font-weight: bolder;
}

.instructions {
    display: inline;
}

iframe {
    display: block;
    margin: 0 auto;
}

.card {
    background-color: rgb(210, 210, 252);
    padding: 0.1em;
    margin: 1em;
}

footer {
    background-color: black;
}

footer div p {
    padding: 0 0;
    margin: 0 0;
}

.nav-link {
    font-size: 1.3em;
}

.nav-link:hover {
    text-decoration: underline;
}

.accordion-header {
    padding: 0 0;
}

.ref {
    max-width: 100px;
    max-height: 100px;
}

.accordion-item {
    margin: 0 20%;
}

.accordion-button {
    background-color: rgb(210, 210, 252);
}